<nav style="margin-top: 2em">
    <ul class="nav nav-tabs">
      
        <li>
            <?= $this->Html->link(__('Salir'),['controller'=>'Users',  'action'=>'logout'])?></li>
            <li><?= $this->Html->link(__('Cambio de contraseña'),['controller'=>'Users',  'action'=>'cambio'])?>
        </li>    
    </ul>
</nav>
<div><h1>Bienvenido</h1></div>